@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: #30CBD2 ;
}

.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin: 0;
}

//resize the weather icon

#weatherIcon {
  font-size: 75px;
}

#title {
  font-size: 45px;
  font-weight: 700;
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}

#location {
  border-radius: 0.5rem;
  width: 250px;
  height: 30px;
  font-size: 25px;
}

.search {
  border-radius: 0.75rem;
  font-size: 15px;
  background-color: black;
  color: white;
  width: 80px;
  height: 40px;
  margin-top: -5px;
  font-size: 25px;
}

// Style the weather card 

.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  
  width: 300px;
  height: 400px;
  padding: 10px;
  font-size: 20px;
}

// Center the weather card title

#locationName {
  text-align: center;
  margin-top: -0.5px;
  font-size: 3rem;
}

#conditionImg, #tempF {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 3.5em;
  width: 3.5em;
}

#conditions {
  display: block;
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
  margin-top: -30px;
}

#tempF {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 100px;
}

#conditionImg {
  font-size: 2rem;
  margin-top: -100px;
}


.conditionsDiv {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}